:root {
  --md-sys-color-error-light: #b3261e; /* Error */
  --md-sys-color-primary-container-light: #eaddff; /* Primary container */
  --md-sys-color-error: #b3261e; /* Error */
  --md-sys-color-on-primary: #ffffff; /* On primary */
  --md-sys-color-primary: #6750a4; /* Primary */
}
